blinker==1.8.2
click==8.1.7
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
future==1.0.0
greenlet==3.1.1
iso8601==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.0
pyserial==3.5
pyudev==0.24.3
PyYAML==6.0.2
smbus==1.1.post2
SQLAlchemy==2.0.35
typing_extensions==4.12.2
Werkzeug==3.0.4
