* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    gap: 0;
    padding: 10px;
    position: relative;
}

.quadrant {
    flex: 1 1 calc(50% - 20px);
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: #a0ee68;
}

.circle-quadrant {
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
    border: none;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}

.circle-quadrant:hover {
    background-color: #e0e0e0;
}

.top-left {
    top: 10px;
    left: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 100px;
}

.top-right {
    top: 10px;
    right: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 0;
}

.buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 60px;
    overflow: hidden;
}

.nav-button {
    padding: 20px 40px;
    font-size: 3em;
    cursor: pointer;
    border: none;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
    flex: 1 1 50%;
}

.nav-button:hover {
    background-color: #e0e0e0;
}

.nav-button:first-child {
    border-right: 1px solid #ccc;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.nav-button:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.datetime-bar {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 1.2em;
    border-radius: 5px;
}