<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quadrant Buttons</title>
    <link rel="stylesheet" href="/static/css/styles.css">

</head>

<body>
    <div class="container">
        <div class="quadrant">
            <div class="title">Box 1</div>
            <div class="parameter">Parameter:</div>
            <!--<div class="status">{{ box1 }}</div>
            <div class="time_diff">last seen </div> -->
        </div>
        <div class="quadrant">
            <div class="title">Box 2</div>
            <div class="parameter">Parameter:</div>
            <!-- <div class="status">{{ box2 }}</div>
            <div class="time_diff">last seen </div> -->
        </div>
        <div class="quadrant">
            <div class="title">Box 3</div>
            <div class="parameter">Parameter:</div>
            <!--<div class="status">Status: offline </div> 
            <div class="time_diff">last seen </div> -->
        </div>
        <div class="quadrant">
            <div class="title">Box 4</div>
            <div class="parameter">Parameter:</div>
            <!--<div class="status"> Status: Offline </div> 
            <div class="time_diff">last seen </div> -->
        </div>
        <div class="buttons">
            <button class="nav-button" onclick="prevField()">Prev</button>
            <button class="nav-button" onclick="nextField()">Next</button>
        </div>
        
        <button class="circle-quadrant top-left" onclick="showDropdownMenu">MN</button>
        <button class="circle-quadrant top-right" onclick="minimizeBrowser()">Cl</button>
        <div id="datetime-bar" class="datetime-bar"></div>
    </div>
    <script src="/static/js/scripts.js"></script>
</body>

</html>