[Unit]
Description=usb autoloader for db download 
After=multi-user.target
Wants=multi-user.target

[Service]
Type=simple 
ExecStart=/home/pi/onion_logger/onionenv/bin/python3 /home/pi/onion_logger/autoload.py
WorkingDirectory=/home/pi/onion_logger
User=root
Restart=always
RestartSec=10
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
SyslogIdentifier=autoload

[Install]
WantedBy=multi-user.target