[Unit]
Description=Onion Chrome
Requires=onionserver.service
After=onionserver.service

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStart=/usr/bin/chromium-browser --disable-infobars --kiosk --disable-pinch --incognito --no-sandbox --disable-gpu  http://127.0.0.1:5000
User=pi
Group=pi
Restart=on-failure
RestartSec=10


[Install]
WantedBy=onionserver.service
